synced_folders
forwarded_ports
*.rbc
*.log
*.sassc
.sass-cache
capybara-*.html
*report*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
chromedriver.log
screenshots
.idea
Hosts.txt
/screenshots/

node_modules

# Vagrant folders #
###################
.vagrant

.golem
